
<div class="panel panel-primary">
  <div class="panel-heading">
  <a href="/ads/category/electronics">
      <h3 class="panel-title">Electronics</h3>
  </a>
  </div>
  <div class="panel-body">
    {{# each results}}
    {{_id}} -- {{count}}
    {{/each}}
  </div>
</div>


<div class="panel panel-success">

<div class="panel-heading">
<a href="/ads/category/Homeneeds">
    <h3 class="panel-title">Home Appliances</h3>
  </div>
</a>
</div>

<div class="panel panel-info">
<div class="panel-heading">
    <h3 class="panel-title">Bikes and Cars</h3>
  </div>

</div>

<div class="panel panel-warning">
<div class="panel-heading">
    <h3 class="panel-title">Rentals</h3>
  </div>
</div>

<div class="panel panel-danger">

<div class="panel-heading">
    <h3 class="panel-title">Books</h3>
  </div>
</div>
