<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
<link rel='stylesheet' href='/css/bootstrap.min.css' />
<link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="/images/logo.png" width="40px">
        </a>

      </div>
      <ul class="nav navbar-nav navbar-right">
        {{# if login}}
          <li><a href="/users/logout">Logout</a></li>
        {{ else }}
            <li><a href="/users/signin">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

    {{{body}}}


    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
